<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ana Sayfa{% endblock %}</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'myproject/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- jQuery and Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">CnC</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'collection_list' %}">Collections</a>    
                </li>
            </ul>
        </div>
    </nav>
    <div class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            {% if not forloop.last %}
                /
            {% endif %}
        {% endfor %}
    </div>
    
    {% block carousel %}
    {% endblock carousel %}
    {% block content %}

    {% endblock %}
    {% block products %}
    <div class="container mt-5">    
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    {% if product.main_image.image %}
                        <img src="{{ product.main_image.image.url }}" class="card-img-top product-image" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:15 }} <a href="{% url 'product_detail' product.id %}">Read more</a></p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        </div>
    </div>
    {% endblock products %}
   

    
    
    
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <!-- Dropdown menu başlangıç -->
                <div class="col-12 mr-auto"> <!-- burada margin sağa eklendi -->
                    <ul class="nav justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Contact
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Contact</a>
                                <a class="dropdown-item" href="#">Openingsuren</a>
                                <a class="dropdown-item" href="#">Over ons</a>
                                <a class="dropdown-item" href="#">Onze werkwijze</a>
                                <a class="dropdown-item" href="#">Kostuum winkel Antwerpen</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Dropdown menu bitiş -->
                
                <div class="col-12 col-md-4 text-center text-md-left mb-3 mb-md-0">
                    <span class="text-muted">© 2023 Şirket Adı. Tüm hakları saklıdır.</span>
                </div>
                <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                    <a href="#" class="text-muted">Facebook</a> |
                    <a href="#" class="text-muted">Twitter</a> |
                    <a href="#" class="text-muted">Instagram</a>
                </div>
            </div>
        </div>
    </footer>
    
    
    

    

    <div class="whatsapp-container">
        <a href="https://wa.me/32489107182" class="whatsapp-button">
            <i class="fa fa-whatsapp"></i>
        </a>
        <div class="whatsapp-text">Bizimle hemen iletişime geçin</div>
    </div>
    
    

</body>
</html>
